.entry-button {
  position: fixed;
  top: 2px;
  right: 0;
  width: 90px;
  height: 47px;
  z-index: 9998;
  background-color: #273963;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 3px 0 0 3px;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

.entry-button:hover {
  width: 92px;
  height: 48px;
}