.footbar {
  background: #273963;
  color: #ffffff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button:hover {
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}